{
  "presets": ["poi"],
  "parserOpts": {
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-decorators",
      ["decorators", { "decoratorsBeforeExport": true }]
    ]
  }
}
